.examples {
	.examples-box {
		@include flex($alignI: strerch, $justify: space-between);
		padding-bottom: 40px;
	}
}

.example {
	width: 295px;
	border: 5px solid #fff;
	background-color: #fff;
	text-align: left;
	color: $greyL;
  	box-shadow: 0px 0px 50px 0px rgba( 31, 103, 117, .19 );


	&__preview {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 185px;
	}

	&__title {
		font-size: 18px;
		color: $blue;
		text-align: center;
		font-family: $msb;
		padding: 7px 0;
		line-height: 24px;
	}

	&__features {
		padding: 0 20px 12px;
	}
}