.footer {
	background-color: #231F20;
	padding: 25px 0;

	@media ($tablets) {
		.wrapper {
			-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		}
	}

	&__logo,
	&__phone {
		width: 220px;
	}

	&__nav {
		width: -webkit-calc(100% - 440px);
		width: calc(100% - 440px);

		@media ($tablets) {
			margin-bottom: 25px;
			width: 100%;
		}
	}

	&__logo {
		text-align: left;
		color: #fff;

		@media ($tablets) {
			-webkit-order: 3;
		    -ms-flex-order: 3;
		    order: 3;
		    text-align: center;
		    margin-top: 25px;
		}

		a {
			display: inline-block;
			margin-bottom: 10px;

			img {
				width: 160px;
			}
		}
	}

	&__nav {
		nav {
			padding: 10px 0;
		}
		ul {
			margin: 0;
		}

		.menu-item {
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
			font-family: $msb;

			@media ($tablets) {
				padding: 5px 10px;
			}

			&:not(:last-child) {
				border-right: 1px solid #484848;

				@media ($phones) {
					border-right:0;
				}
			}

			a {
				color: #fff;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}


	&__phone {
		color: #fff;

		a[href^='tel:'] {
			font-size: 20px;
			color: #fff;
			font-family: $msb;
		}

		small {
			display: block;
			margin: 3px auto;
			color: #b8b8b8;
			font-size: 12px;
		}

		.order {
			font-size: 13px;
			text-decoration: underline;
			font-family: $msbl;
			color: #FECE09;
			text-transform: uppercase;

			&:hover {
				text-decoration: none;
			}
		}
	}
}