         
.mainHeader {
    @include position(absolute, 0, auto, auto, 0);
    margin: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m800 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #fff;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
             
            &.active { left: 0;}
            .wrapper {
                   @include flexDirection(column);
                   width: 100%;
            }
        }
        /*.............end media..............*/
    
    &__top {
        .wrapper {
            @include flex();
            height: 100px;
        }
        .leave {
            width: 195px;  
        }
    }
    &__bottom {
        background-color: $yellow;
    }
}

.logo {
    width: 195px;
    img {
        max-width: 100%;
    }
}

/* ------------------------------------ */
/*  Services navigation  */
.servicesNav {
    ul {
        @include flex();
        height: 56px;
        margin: 0;
        list-style-type: none;
        li {
            a {
                color: $grey;
                font: 14px $msbl;
                text-transform: uppercase;
                display: inline-block;
                vertical-align: middle;
            }
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 30px;
                background-color: #000;
                opacity: .1;
                width: 1px;
                margin-left: 50px;
            }
            &:first-of-type:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 30px;
                background-color: #000;
                opacity: .1;
                width: 1px;
                margin-right: 50px;
            }
        }
    }
}

/* ------------------------------------ */
/*  Pages navigation  */
.pagesNav {
    width: calc(100% - 390px);
    ul {
        list-style-type: none;
        @include flex($justify: space-around);
        padding: 0 15px;
        margin: 0;
        li {
            a {
                font: 12px $msb;
                text-transform: uppercase;
                color: $blue;
                display: inline-block;
                vertical-align: middle;
            }
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 12px;
                background-color: #d1d1d1;
                width: 1px;
                margin-left: 16px;
            }
            &:last-of-type:after {
                display: none;
            }
        }
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}
