         
.mainHeader {
    @include position(absolute, 0, auto, auto, 0);
    margin: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m1000 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #fff;
            margin-top: 0;
            padding: 20px 0 0;
            z-index: 100;
            overflow: scroll;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0, .2);
                    box-shadow: 0 0 10px rgba(0,0,0, .2);
            &.active { left: 0;}
            .wrapper {
                @include flexDirection(column);
                width: 100%;
                padding: 0;
            }
        }
        /*.............end media..............*/
    
    &__top {
        .wrapper {
            @include flex();
            height: 100px;
            @include m1000 {
                height: auto;
                display: block;
            }
        }
        .leave {
            width: 195px;  
            span{
                display: block;
                font: 12px $sr;
                color: #B8B8B8;
            }
            a {
                font: 13px $msb;
                color: $yellow;
                text-transform: uppercase;
                text-decoration: underline;
                display: block;
                margin-top: 5px;
            }
            .tel {
                font: 20px $msb;
                display: block;
                color: #474747;
                margin-bottom: 5px;
                text-decoration: none;
            }
            @include m1000 {
                width: 100%;
                margin: 40px auto;
            }
            @media (max-height: 660px) {
                margin: 10px auto 20px;
            }
        }
    }
    &__bottom {
        background-color: $yellow;
        @include m1000 {
        }
    }
}

.logo {
    width: 195px;
    img {
        max-width: 100%;
    }
    &.mobile {
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;
        @include m1000 {
            display: block;
        }
    }
    @include m1000 {
        margin: 10px auto;
    }
}

/* ------------------------------------ */
/*  Services navigation  */
.servicesNav {
    > ul {
        @include flex($justify: center);
        height: 56px;
        margin: 0;
        list-style-type: none;
        @include m1000 {
            height: auto;
            display: block;
        }
        > li {
            position: relative;
            background-color: transparent;
            @include m1000 {
                &.active {
                    background-color: $blue !important;
                    > a {
                        color: #FFF!important;
                        &:after {
                            border-top: 7px solid rgba(255,255,255,.5)!important;
                        }
                    }
                }
            }
            > a {
                color: $grey;
                font: 14px $msbl;
                text-transform: uppercase;
                display: inline-block;
                vertical-align: middle;
                line-height: 55px;
                padding: 0 45px;
                @include m1000 {
                    padding: 0;
                }
            }
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 30px;
                background-color: #000;
                opacity: .1;
                width: 1px;
                @include m1000 {
                    display: none;
                }
            }
            &:first-of-type:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 30px;
                background-color: #000;
                opacity: .1;
                width: 1px;
                @include m1000 {
                    display: none;
                }
            }
            &.hasSub {
                a {
                    padding-right: 0;
                }
                > a:after {
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 7px solid rgba(0,0,0,.5);
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 35px;
                    margin-left: 5px;
                    margin-top: -2px;
                    @include m1000 {
                        margin-right: 0;
                    }
                }
            }
            > .sub {
                position: absolute;
                top: 100%;
                left: 0;
                width: 290px;
                margin: 0;
                background-color: #f2f6f7;
                display: block;
                text-align: left;
                box-shadow: 0px 8px 51px 0px rgba(0, 0, 0, 0.2);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s;
                transition: opacity .2s;
                @include m1000 {
                    position: static;
                    opacity: 1;
                    visibility: visible;
                    display: none;
                }
                > li {
                    display: block;
                    border-bottom: 1px solid #bed6dc;
                    position: relative;
                    padding: 0 20px;
                    a {
                        color: $blue;
                        font: 14px/45px $msb;
                        display: block;
                        width: 100%;
                    }
                    &.hasSub {
                        > a:before {
                            width: 0;
                            height: 0;
                            border-top: 4px solid transparent;
                            border-bottom: 4px solid transparent;
                            border-left: 7px solid $yellow;
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                    &:last-of-type {
                        border: none;
                    }
                    > .sub {
                        position: absolute;
                        left: 290px;
                        width: 100%;
                        top: 0;
                        padding: 0 16px;
                        margin: 0;
                        background-color: #FFF;
                        box-shadow: 0px 8px 51px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility .0s;
                        transition: opacity .2s;
                        @include m1000 {
                            position: static;
                            opacity: 1;
                            visibility: visible;
                            display: none;
                            width: 222px;
                            margin-bottom: 20px;
                            background: transparent;
                            -webkit-box-shadow: none;
                                    box-shadow: none;
                        }
                        li {
                            display: block;
                            border-bottom: 1px solid #deeaed;
                            position: relative;
                            a {
                                font: 12px/35px $sr;
                                text-decoration: underline;
                                display: block;
                                width: 100%;
                            }
                            &:last-of-type {
                                border: none;
                            }
                            &:hover {
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    &:hover {
                        background-color: #FFF;
                        z-index: 2;
                        .sub {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            &:hover {
                background-color: #1f8ea4;
                > a {
                    color: #fff;
                    &:after {
                        border-top: 7px solid rgba(255,255,255,.5);
                    }
                }
                > .sub {
                    visibility: visible;
                    opacity: 1;
                }
                @include m1000 {
                    background-color: $yellow;
                    > a {
                        color: $grey;
                        &:after {
                            border-top: 7px solid rgba(0,0,0,.5);
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------------------ */
/*  Pages navigation  */
.pagesNav {
    width: calc(100% - 390px);
    @include m1000 {
        width: 100%;
    }
    ul {
        list-style-type: none;
        @include flex($justify: space-around);
        padding: 0 15px;
        margin: 0;
        @include m1000 {
            display: block;
            padding: 20px 0;
        }
        li {
            a {
                font: 12px $msb;
                text-transform: uppercase;
                color: $blue;
                display: inline-block;
                vertical-align: middle;
            }
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 12px;
                background-color: #d1d1d1;
                width: 1px;
                margin-left: 16px;
                @include m1000 {
                    display: none;
                }
            }
            &:last-of-type:after {
                display: none;
            }
        }
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 39px;
    @include position(fixed, 15px, 10px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $blue;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 10px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 10px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}
