.offer {
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @include m1000 {
        height: auto;
        padding: 140px 0 100px;
    }
    .wrapper {
        height: 100%;
        text-align: left;
        @include flex($direction: column,$alignI: flex-start, $justify: center);
        h2 {
            font: 48px $msbl;
            text-transform: uppercase;
            width: 55%;
            border: none;
            color: $grey;
            margin-bottom: 7px;
        }
        p {
            font: 18px/30px $sr;
            color: $greyL;
            margin-top: 0;
            width: 55%;
        }
        .button {
            margin-top: 30px;
        }
        @include m1000 {
            text-align: center;
            h2 {
                width: 100%;
            }
            p {
                width: 100%;
                color: #000;
            }
            .button {
                margin: 30px auto 0;
            }
        }
        @media (max-width: 500px) {
            h2 {
                font: 32px $msbl;
            }
            p {
                font: 16px/26px $sr;
            }
        }
    }

    .offer__info__form {
        width: 375px;

        @media ($tablets) {
            width: 100%;
        }

        .form {
            padding: 25px 50px 50px;
            background-color: $blue;
            width: 100%;

            @media ($tablets) {
                width: 290px;
                margin: 0 auto;
                padding: 20px;
            }

            .title {
                font-size: 22px;
                color: $yellow;
                width: 100%;
                text-transform: uppercase;
                text-align: center;
                font-family: $msb;
            }

            .button {
                margin: 0;
            }
        }
        @include m1000 {
            margin: 20px auto 0;
        }
        @media (max-width: 400px) {
           width: 290px;
           .form {
               padding: 25px 25px 50px;
           }
        }
    }
    .offer__info__content {
        width: -webkit-calc(100% - 375px);
        width: calc(100% - 375px);
        padding-right: 50px;

        @media ($tablets) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 50px;
        }

        h2,
        p {
            width: 100%;
        }
    }
}

.remontPage {
    .offer {
        @include m1000 {
            background: #EEFAFC !important;
        }
    }
}