.accordeon {

	&__link {
		display: block;
		padding: 15px 50px 15px 20px;
		background-color: $blue;
		color: #fff;
		text-align: left;
		font-size: 18px;
		font-family: $msb;
		cursor: pointer;
		margin-top: 20px;
		position: relative;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 4.5px 0 4.5px;
			border-color: #B1D8DF transparent transparent transparent;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			right: 20px;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		&.ui-state-active,
		&.ui-state-hover {
			background-color: $yellow;
			color: #000;
		}

		&.ui-state-hover:after {
			border-color: #000 transparent transparent transparent;
		}

		&.ui-state-active:after {
			border-width: 0 4.5px 8px 4.5px;
			border-color: transparent transparent #000 transparent;
		}
	}

	&__content {
		padding: 25px 30px;
		text-align: left;

		h4 {
			font-size: 18px;
			font-family: $msb;
			color: #231f20;
			margin-bottom: 10px;
		}

		ul {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			li {
				list-style: none;
				padding-left: 15px;
				position: relative;

				&:before {
					content: '';
					width: 3px;
					height: 3px;
					background-color: $blue;
					position: absolute;
					left: 0;
					top: 7px;
					border-radius: 50%;
				}
			}

			li:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}

.vacancies {
	text-align: center;

	.button {
		display: inline-block;
		margin: 50px auto 0;
		position: relative;
		padding-left: 70px;

		&:before {
			content: '';
			width: 41px;
			height: 55px;
			position: absolute;
			left: 20px;
			bottom: 0;
			background-image: url(../images/xls.png);
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: 50% 100%;
		}
	}
}