// COLORS
// ---------------------------

$yellow : #fece0a;
$blue : #1f8ea4;
$grey : #231f20;
$greyL : #5d5d5d;

// FONTS
// ---------------------------
$sr:			"SegoeUIRegular";
$sb:			"SegoeUIBold";

$msb:			"MuseoSansBold";
$msbl:			"MuseoSansBlack";


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $sr;
	font-size: 12px;
	line-height: 18px;
}
body {
    padding-top: 150px;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 940px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
}
.flex {
	@include flex($alignI: center);
}
