// COLORS
// ---------------------------
$yellow: 		#fece0a;
$blue: 			#1f8ea4;
$grey: 			#231f20;
$greyL: 		#5d5d5d;

// FONTS
// ---------------------------
$sr:			"SegoeUIRegular";
$sb:			"SegoeUIBold";

$msb:			"MuseoSansBold";
$msbl:			"MuseoSansBlack";


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $sr;
	font-size: 12px;
	color: $greyL;
}

body {
    padding-top: 150px;
    @include m1000 {
		padding-top: 0;
	}
}    

.blueBg {
    background-color: #EEFAFC;
}

.blue-bg {
	background-color: #EEFAFC;
}
h2,
.page-title {
	font-size: 24px;
	text-transform: uppercase;
	color: $blue;
	border: 2px solid $yellow;
	border-left-width: 0;
	border-right-width: 0;
	font-family: $msb;
	margin-bottom: 35px;
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
}
.page-title {
	margin-bottom: 0;
	max-width: 60%
}
.titleInfo {
	font: 16px $sr;
	max-width: 80%;
	display: block;
	margin: 0 auto 35px;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 970px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
	@include m1000 {
		width: 100%;
	}
}
.line {
	height: 2px;
	border: 0;
	background-color: #E8E8E8;
	margin: 0 auto;
	width: 940px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.flex {
	@include flex($alignI: center);
}
section {
	padding: 50px 0;
}
.section-heading {
	text-align: left;
	padding-bottom: 35px;
	width: 100%;
}